.container {
}

.largebutton {
  font-size: 36px !important;
}

.largebutton button div:first-child {
  line-height: 88px !important;
}

.doublebutton {
  width: 176px !important;

}
.largebutton button {
  background-color: #c8cbcf !important;
  border: 1px solid #5a6268 !important;
}

.largebutton.rightbutton button {
  background-color: #fd7e14 !important;
  color: #ffffff;
}

.display {
  width: 352px;
  font-size: 48px;
  background-color: #6c757d;
  color: #ffffff;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
}
